<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if(errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="product-form" action="/login" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="form-control"> 
                <label for="title">E-Mail</label>
                <input
                class="<%= validationErrors.find(e => e.path === 'email') ? 'invalid': '' %>"    
                type="text" name="email" id="email" value="<%= oldInput.email %>">
            </div>
            <div class="form-control"> 
                <label for="password">Password</label>
                <input
                class="<%= validationErrors.find(e => e.path === 'password') ? 'invalid': '' %>"    
                type="password" name="password" value="<%= oldInput.password %>">
            </div>
            
            <button type="submit">
                Login
        </button>
        </form>
        <div class="centered">
            <a href="/reset">Reset Password</a>

        </div>
    </main>
<%- include('../includes/end.ejs') %>