<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if(errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="product-form" action="/reset" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="form-control"> 
                <label for="title">E-Mail</label>
                <input type="text" name="email" id="email">
            </div>
            
            <button type="submit">
                Reset Password
        </button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>