<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if(errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="product-form" action="/signup" method="POST" novalidate>
            <div class="form-control"> 
                <label for="title">E-Mail</label>
                <input 
                class="<%= validationErrors.find(e => e.path === 'email') ? 'invalid': '' %>"                
                type="text" name="email" id="email" value="<%= oldInput.email %>">
            </div>
            <div class="form-control"> 
                <label for="password">Password</label>
                <input 
                class="<%= validationErrors.find(e => e.path === 'password') ? 'invalid': '' %>"       
                type="password" name="password" value="<%= oldInput.password %>">
            </div>
            <div class="form-control"> 
                <label for="confirmPassword">Confirm Password</label>
                <input
                class="<%= validationErrors.find(e => e.path === 'confirmPassword') ? 'invalid': '' %>"    
                type="password" name="confirmPassword" value="<%= oldInput.confirmPassword %>">
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit">
                Signup
        </button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>