<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if(prods.length > 0) { %>
            <div class="grid">
                <% for (let product of prods) { %>            
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= product.title %></h1>
                        </header>
                        <div class="card__image">
                            <img class="card__image-style" src="<%= product.imageUrl %>" alt="<%= product.title %>" />
                        </div>
                        <div class="card__content">
                            <h2 class="product-price"><%= product.price %></h2>
                            <p> <%= product.description %></p>
                        </div>
                        <div class="card__actions">
                            <a href="/admin/edit-product/<%= product._id %>?edit=true" class="action-btn"> Edit</a>
                            <form action="/admin/delete-product" method="POST">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <input type="hidden" value="<%= product._id %>" name="productId">
                                <button class="action-btn" type="submit"> Delete</button>
                            </form>
                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No product found</h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>