<form action="/cart" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button class="action-btn"> Add to Cart</button>
    <input type="hidden" name="productId" value="<%= product._id %>">
</form>