.product-form{
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.form-control{
    margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea{
    display: block;
    width: 100%;
    margin-bottom: 0.25rem;
}

.form-control input,
.form-control textarea{
    border: 1px solid rgba(207, 207, 58, 0.911);
    font: inherit;
    border-radius: 2px;
}

button{
    font: inherit;
    border: 1px solid rgb(80, 18, 156);
    color: rgb(83, 44, 175);
    background: white;
    border-radius: 3px;
    cursor: pointer;
}

button:hover,
button:active {
    background-color: blue;
    color: white;
}

.form-control input.invalid {
    border-color: red;
}