body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
main{
    padding: 1rem;
}
.main-header{
    /* width: 100%; */
    height: 3.5rem;
    background-color: rgb(226, 226, 39);
    padding: 0 1.5rem;
}

.main-header__nav{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-header__item-list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-header__item{
    margin: 0 1rem;
    padding: 0;
}

.main-header__item a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active{
    color: rgb(188, 26, 26);
}

.centered{
    text-align: center;
}

.image-style{
    height: 200px;
}

.btn{
    display: block;
    background-color: rgb(226, 226, 39);
    color: rgb(11, 11, 11);
    padding: 4px 8px;
    cursor: pointer;
    border: 2px solid rgb(20, 20, 20);
    border-radius: 10px;
    font-size: medium;
    font-weight: bolder;
}

.user-message{
    margin: auto;
    width: 90%;
    border: 1px solid rgb(44, 44, 230);
    background-color: rgb(162, 162, 255);
    padding: 0.5rem;
    border-radius: 3px;
    text-align: center;
}

.user-message--error{
    border-color: red;
    background-color: rgb(255, 177, 177);

}