.grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    padding: 20px;
}

.card{
    padding: 40px;
    background-color: antiquewhite;
    max-width: 200px;
}

.card__image-style{
    width: 200px;
}

.card__actions{
    display: flex;
    gap: 5px;
    flex-direction: column;
    text-align: center;
}

.card__actions > form {
    width: 100%;
}

.card__actions > a {
    text-decoration: none;
}

.action-btn{
    background-color: rgb(226, 226, 39);
    color: rgb(11, 11, 11);
    cursor: pointer;
    border: 2px solid rgb(20, 20, 20);
    border-radius: 10px;
    font-size: medium;
    font-weight: bolder;
    width: 100%;
    padding: 10px 0;
}

.action-btn:hover{
    background-color: wheat;
}