<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if(orders.length <= 0) {%>
            <h1>Nothing there!</h1>
        <% } else {%>
            <ul>
                <% orders.forEach(order => { %>
                <li>
                    <h1># <%= order._id %></h1>
                    <ul>
                        <% order.products.forEach(p => { %>
                            <li><%= p.product.title %> (<%= p.quantity %>)</li>
                        <% }) %>
                    </ul>
                <%  }) %>
            </ul>
        <% } %>
        
    </main>
    <%- include('../includes/end.ejs') %>