<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if(prods.length > 0) { %>
            <div class="grid">
                <% for (let product of prods) { %>            
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= product.title %></h1>
                        </header>
                        <div class="card__image">
                            <img class="card__image-style" src="<%= product.imageUrl %>" alt="<%= product.title %>" />
                        </div>
                        <div class="card__content">
                            <h2 class="product-price"><%= product.price %></h2>
                            <p> <%= product.description %></p>
                        </div>
                        <div class="card__actions">
                            <a href="/products/<%= product._id %>" class="action-btn"> Details</a>
                            <% if(isAuthenticated) { %> 
                                <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                            <% } %>
                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No product found</h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>