<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
<style>
    .action-btn{
        background-color: rgb(226, 226, 39);
        color: rgb(11, 11, 11);
        cursor: pointer;
        border: 2px solid rgb(20, 20, 20);
        border-radius: 10px;
        font-size: medium;
        font-weight: bolder;
        width: 100%;
        padding: 10px 5px;
    }
</style>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="centered">
        <h1><%= product.title %></h1>
        <hr>
        <div>
            <img class="image-style" src="<%= product.imageUrl %>" alt="<%= product.title %>">
        </div>
        <h2><%= product.price %></h2>
        <p><%= product.description %></p>
        <div style="display: flex; justify-content: center;">
            <% if(isAuthenticated) { %> 
                <%- include('../includes/add-to-cart.ejs', {product: product}) %>
            <% } %>
        </div>
    </main>
    <%- include('../includes/end.ejs') %>